<footer>
        <p>&copy; 2024 CardNation</p>
        <section class="phones">
            <a>9730-2038</a>
        </section>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../productos.html">Productos</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Contáctenos</a></li>
            </ul>
        </nav>
</footer>