<header>
    <input type="checkbox" id="check">
    <label class="hamburger" for="check">
        <div class="line"></div>
        <div class="line"></div>
        <div class="line"></div>
    </label>
    <section class="titulo">
        <h1><span class="tcard">CARD</span><span class="tnation">NATION</span></h1>
    </section>
    <nav>
        <ul>
            <li><a href="../index.html">Inicio</a></li>
            <li><a href="../productos.html">Productos</a></li>
            <li><a href="#">Sobre Nosotros</a></li>
            <li><a href="#">Contáctenos</a></li>
            <li class="ham-only"><a href="#">Cómo Ayudar</a></li>
            <li class="ham-only"><a href="#">Galería</a></li>
            <li class="ham-only"><a href="#">Blog</a></li>
            <li class="ham-only"><a href="#">Eventos</a></li>
            <li class="ham-only"><a href="#">Página de donaciones</a></li>
            <li class="ham-only"><a href="#">Preguntas frecuentes</a></li>
        </ul>
    </nav>
</header>