<header>
    <input type="checkbox" id="check">
        <label class="hamburger" for="check">
            <div class="line"></div>
            <div class="line"></div>
            <div class="line"></div>
        </label>
        <section class="titulo">
            <h1>CardNation</h1>
        </section>
        <nav>
            <ul>
                <li><a href="../index.html">Inicio</a></li>
                <li><a href="../productos.html">Productos</a></li>
                <li><a href="#">Sobre Nosotros</a></li>
                <li><a href="#">Contáctenos</a></li>
            </ul>
        </nav>
</header>