<section class="cards">
    {{#each productos}}
    <div class="card">
        <img src="{{url}}" alt="{{titulo}}" />
        <h3>{{titulo}}</h3>
        <p>{{des}}</p>
    </div>
    {{/each}}
</section>